@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: brown;
}

html .header, body .header {
  height: 60px;
  background: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .header h1, body .header h1 {
  color: #fff;
  font-size: 3rem;
  margin-left: 50px;
  width: 320px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .header .sign-form, body .header .sign-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 280px;
  margin-left: 975px;
}

html .header .sign-form a, body .header .sign-form a {
  height: 60px;
  line-height: 35px;
  text-decoration: none;
}

html .header .sign-form p, body .header .sign-form p {
  cursor: pointer;
  color: #fff;
  margin-top: 13px;
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html .content, body .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 789px;
}

html .content #sign-up-box, body .content #sign-up-box {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  background: blueviolet;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .content #sign-up-box h2, body .content #sign-up-box h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 5px;
}

html .content #sign-up-box .boxes, body .content #sign-up-box .boxes {
  font-size: 1.5rem;
  width: 400px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  border: none;
}

html .content #sign-up-box #button, body .content #sign-up-box #button {
  color: #fff;
  background: brown;
  border: none;
  cursor: pointer;
}

html .content #sign-in-box, body .content #sign-in-box {
  visibility: hidden;
  width: 500px;
  height: 500px;
  background: blueviolet;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .content #sign-in-box h2, body .content #sign-in-box h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 5px;
}

html .content #sign-in-box .boxes, body .content #sign-in-box .boxes {
  font-size: 1.5rem;
  width: 400px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  border: none;
}

html .content #sign-in-box #button, body .content #sign-in-box #button {
  color: #fff;
  background: brown;
  border: none;
  cursor: pointer;
}

html .footer, body .footer {
  height: 60px;
}
/*# sourceMappingURL=styles.css.map */